<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recommendation</title>
  </head>
  <body>

    <form >
      <input type="text" name="username" id="username">
      <input type="text" name="password" id="password">
      <input type="button" name="" value="login" onclick="login()">
    </form>

    <div class="" id = "similar_recommendation">

    </div>

    <script type="text/javascript">
        function get(e){
          var item = 'item=' + e;
          console.log(item)
          var request = new XMLHttpRequest();
          request.open('post','/ajax?', true)
          request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
          request.send(item)

          request.onreadystatechange = function(){
            console.log('ready' + request.readyState + request.status)
            console.log(request.responseText)

            var names = ""
            if(request.readyState == 4 && request.status == 200){
             console.log(request.responseText);
             names = request.responseText;
             console.log(names);
             var similar = document.getElementById("similar_recommendation");
             similar.innerHTML = names;
           }}


        }
    </script>

  </body>
</html>
